@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-content {
  background-color: #fff;
}

.ant-layout-footer {
  text-align: 'center';
}

.ant-card-bordered {
  border: 1px solid #ddd;
}

.ant-card-actions .anticon {
  font-size: 24px !important;
}
.icon-text .text {
  display: block;
}
.ant-card-actions .icon-join:hover {
  color: orangered;
}
.ant-card-actions .icon-favorite:hover {
  color: #eb2f96;
}
